## Recorrer una carpeta y leer todos los archivos

In [1]:
# importamos las librerias necesarias
import os
import pandas as pd

In [4]:
##############################################################################################################
# recorremos los archivos de la carpeta y los guardamos en una lista. Lo transpones y lo guardas en un dataframe.
# Luego concatenas todos los dataframes en uno solo y lo guardas en un csv.
# El csv resultante es el dataset que se usara para preprocesado posterior.
# carpeta ../data/datasets/Frontal_Aslant_Tract_L
##############################################################################################################
folder_paths = ['../data/datasets/Frontal_Aslant_Tract_L']

def read_txt_to_df(file_path):
    with open(file_path, 'r') as f:
        data = f.read()
    df = pd.DataFrame([data.split('\n')])
    return df

def transpose_df(df):
    return df.transpose()

df_list = []
for folder_path in folder_paths:
    for file_name in os.listdir(folder_path):
        if file_name.endswith('.txt'):
            file_path = os.path.join(folder_path, file_name)
            df = read_txt_to_df(file_path)
            
            df = transpose_df(df)
            df['N'] = file_name+"\t"+df.index.astype(str)
            df_list.append(df)

result = pd.concat(df_list)
result1 = result.apply(lambda x: pd.Series(x.dropna().values))
result1.to_csv('../data/dataset_fatl.csv', index=False)

In [5]:
##############################################################################################################
# recorremos los archivos de la carpeta y los guardamos en una lista. Lo transpones y lo guardas en un dataframe.
# Luego concatenas todos los dataframes en uno solo y lo guardas en un csv.
# El csv resultante es el dataset que se usara para preprocesado posterior.
# carpeta ../data/datasets/Frontal_Aslant_Tract_R
##############################################################################################################
folder_paths = ['../data/datasets/Frontal_Aslant_Tract_r']

def read_txt_to_df(file_path):
    with open(file_path, 'r') as f:
        data = f.read()
    df = pd.DataFrame([data.split('\n')])
    return df

def transpose_df(df):
    return df.transpose()

df_list = []
for folder_path in folder_paths:
    for file_name in os.listdir(folder_path):
        if file_name.endswith('.txt'):
            file_path = os.path.join(folder_path, file_name)
            df = read_txt_to_df(file_path)
            
            df = transpose_df(df)
            df['N'] = file_name+"\t"+df.index.astype(str)
            df_list.append(df)

result = pd.concat(df_list)
result1 = result.apply(lambda x: pd.Series(x.dropna().values))
result1.to_csv('../data/dataset_fatr.csv', index=False)

## Limpiar datos y ordenar en columnas

In [6]:
# levantamos los dataset y le agregamos la columna data y Label. Limpiamos los nombres de las columnas.
datasetfatl= pd.read_csv("../data/dataset_fatl.csv", delimiter=',', header=None, skiprows=1, names=['data','Label'])
datasetfatr= pd.read_csv("../data/dataset_fatr.csv", delimiter=',', header=None, skiprows=1, names=['data','Label'])

In [7]:
# verificacion de los dataset
datasetfatl

,data,Label
0,number of tracts\t7191,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt\t0
1,mean length(mm)\t84.6715,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt\t1
2,span(mm)\t29.6376,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt\t2
3,curl\t2.85689,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt\t3
4,elongation\t5.35227,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt\t4
...,...,...
685,rdi\t0.292373,sub-50048_dwi.Frontal_Aslant_Tract_L.stat.txt\t25
686,nrdi02L\t0.376249,sub-50048_dwi.Frontal_Aslant_Tract_L.stat.txt\t26
687,nrdi04L\t0.148387,sub-50048_dwi.Frontal_Aslant_Tract_L.stat.txt\t27
688,nrdi06L\t0.0234026,sub-50048_dwi.Frontal_Aslant_Tract_L.stat.txt\t28
689,NaN,sub-50048_dwi.Frontal_Aslant_Tract_L.stat.txt\t29

In [8]:
# dividimos la columna data en dos columnas, una con el codigo y otra con los valores.
datasetfatl[['Codigo','values']]= datasetfatl.data.str.split(pat='\t',expand=True)
datasetfatr[['Codigo','values']]= datasetfatr.data.str.split(pat='\t',expand=True)

In [9]:
# verificacion de los dataset
datasetfatl

,data,Label,Codigo,values
0,number of tracts\t7191,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt\t0,number of tracts,7191
1,mean length(mm)\t84.6715,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt\t1,mean length(mm),84.6715
2,span(mm)\t29.6376,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt\t2,span(mm),29.6376
3,curl\t2.85689,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt\t3,curl,2.85689
4,elongation\t5.35227,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt\t4,elongation,5.35227
...,...,...,...,...
685,rdi\t0.292373,sub-50048_dwi.Frontal_Aslant_Tract_L.stat.txt\t25,rdi,0.292373
686,nrdi02L\t0.376249,sub-50048_dwi.Frontal_Aslant_Tract_L.stat.txt\t26,nrdi02L,0.376249
687,nrdi04L\t0.148387,sub-50048_dwi.Frontal_Aslant_Tract_L.stat.txt\t27,nrdi04L,0.148387
688,nrdi06L\t0.0234026,sub-50048_dwi.Frontal_Aslant_Tract_L.stat.txt\t28,nrdi06L,0.0234026
689,NaN,sub-50048_dwi.Frontal_Aslant_Tract_L.stat.txt\t29,NaN,NaN

In [10]:
# limpia valores nulos en la misma tabla
datasetfatl.dropna(inplace=True)
datasetfatr.dropna(inplace=True)

In [11]:
# verificacion de los dataset
datasetfatl.shape

(667, 4)

In [12]:
# dividimos la columna Label en dos columnas, una con "Et" y otra con "id".
datasetfatl[['Et','id']]= datasetfatl.Label.str.split(pat='\t',expand=True)
datasetfatr[['Et','id']]= datasetfatr.Label.str.split(pat='\t',expand=True)

In [13]:
# verificacion de los dataset
datasetfatl.head()

,data,Label,Codigo,values,Et,id
0,number of tracts\t7191,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt\t0,number of tracts,7191,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt,0
1,mean length(mm)\t84.6715,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt\t1,mean length(mm),84.6715,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt,1
2,span(mm)\t29.6376,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt\t2,span(mm),29.6376,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt,2
3,curl\t2.85689,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt\t3,curl,2.85689,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt,3
4,elongation\t5.35227,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt\t4,elongation,5.35227,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt,4

In [14]:
# quitamos la columna Label y data de los dataset
datasetfatl.drop(columns = ['data', 'Label'], inplace=True) 
datasetfatr.drop(columns = ['data', 'Label'], inplace=True)

In [15]:
# verificacion de los dataset
datasetfatl.head()

             Codigo   values                                             Et id
0  number of tracts     7191  sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt  0
1   mean length(mm)  84.6715  sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt  1
2          span(mm)  29.6376  sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt  2
3              curl  2.85689  sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt  3
4        elongation  5.35227  sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt  4

In [16]:
# reindexamos las columnas "Et" de los dataset
datasetfatl.reindex(columns=['Et'])
datasetfatr.reindex(columns=['Et'])

                                                Et
0    sub-50004_dwi.Frontal_Aslant_Tract_R.stat.txt
1    sub-50004_dwi.Frontal_Aslant_Tract_R.stat.txt
2    sub-50004_dwi.Frontal_Aslant_Tract_R.stat.txt
3    sub-50004_dwi.Frontal_Aslant_Tract_R.stat.txt
4    sub-50004_dwi.Frontal_Aslant_Tract_R.stat.txt
..                                             ...
655  sub-50048_dwi.Frontal_Aslant_Tract_R.stat.txt
656  sub-50048_dwi.Frontal_Aslant_Tract_R.stat.txt
657  sub-50048_dwi.Frontal_Aslant_Tract_R.stat.txt
658  sub-50048_dwi.Frontal_Aslant_Tract_R.stat.txt
659  sub-50048_dwi.Frontal_Aslant_Tract_R.stat.txt

[638 rows x 1 columns]

In [17]:
# agregamos la columna "Ncodigo" a los dataset que es "codigo" con el prefijo "fatl_"
# la sigla "fatl" es por Frontal_Aslant_Tract_Left
datasetfatl['Ncodigo'] = 'fatl_'+datasetfatl['Codigo']

In [18]:
# agregamos la columna "Ncodigo" a los dataset que es "codigo" con el prefijo "fatl_"
# la sigla fatr es por Frontal Aslant Tract Right
datasetfatr['Ncodigo'] = 'fatr_'+datasetfatr['Codigo']

In [19]:
# concatenamos los dataset
subject = pd.concat([datasetfatl, datasetfatr])

In [20]:
# quitamos la columna "Codigo" de subject
subject.drop(columns = ['Codigo'], inplace=True)

In [21]:
# verificacion de subject
subject.head()

,values,Et,id,Ncodigo
0,7191,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt,0,fatl_number of tracts
1,84.6715,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt,1,fatl_mean length(mm)
2,29.6376,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt,2,fatl_span(mm)
3,2.85689,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt,3,fatl_curl
4,5.35227,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt,4,fatl_elongation

In [25]:
#utilizamos regex para dividir la columna Et a partir de encontrar _dwi que es elimnado
# y los dos grupos de datos se agrupan en las columnas cod y scrup

subject[['cod','scrup']]= subject['Et'].str.split(r'[\_]dwi', expand=True)

In [26]:
# verificacion de subject
subject.head()

,values,Et,id,Ncodigo,cod,scrup
0,7191,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt,0,fatl_number of tracts,sub-50004,.Frontal_Aslant_Tract_L.stat.txt
1,84.6715,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt,1,fatl_mean length(mm),sub-50004,.Frontal_Aslant_Tract_L.stat.txt
2,29.6376,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt,2,fatl_span(mm),sub-50004,.Frontal_Aslant_Tract_L.stat.txt
3,2.85689,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt,3,fatl_curl,sub-50004,.Frontal_Aslant_Tract_L.stat.txt
4,5.35227,sub-50004_dwi.Frontal_Aslant_Tract_L.stat.txt,4,fatl_elongation,sub-50004,.Frontal_Aslant_Tract_L.stat.txt

In [27]:
# quitamos la columna Et y scrup de subject
subject.drop(columns = ['Et','scrup'], inplace=True)

In [28]:
# reindexamos la columna cod de subject
subject.reindex(columns=['cod'])

           cod
0    sub-50004
1    sub-50004
2    sub-50004
3    sub-50004
4    sub-50004
..         ...
655  sub-50048
656  sub-50048
657  sub-50048
658  sub-50048
659  sub-50048

[1305 rows x 1 columns]

In [30]:
# verificacion de subject
subject.head()

    values id                Ncodigo        cod
0     7191  0  fatl_number of tracts  sub-50004
1  84.6715  1   fatl_mean length(mm)  sub-50004
2  29.6376  2          fatl_span(mm)  sub-50004
3  2.85689  3              fatl_curl  sub-50004
4  5.35227  4        fatl_elongation  sub-50004

In [31]:
# pivotamos la tabla subject para que los valores de la columna Ncodigo se conviertan en columnas
df = subject.pivot(index=['cod'], columns='Ncodigo', values='values').reset_index()

In [32]:
# verificacion de las columnas de df
df.columns

Index(['cod', 'fatl_ad', 'fatl_area of end region 1(mm^2)',
       'fatl_area of end region 2(mm^2)', 'fatl_branch volume(mm^3)',
       'fatl_curl', 'fatl_diameter(mm)', 'fatl_dti_fa', 'fatl_elongation',
       'fatl_irregularity', 'fatl_irregularity of end region 1',
       'fatl_irregularity of end region 2', 'fatl_iso', 'fatl_md',
       'fatl_mean length(mm)', 'fatl_nrdi02L', 'fatl_nrdi04L', 'fatl_nrdi06L',
       'fatl_number of tracts', 'fatl_qa', 'fatl_radius of end region 1(mm)',
       'fatl_radius of end region 2(mm)', 'fatl_rd', 'fatl_rdi',
       'fatl_span(mm)', 'fatl_total area of end regions(mm^2)',
       'fatl_total radius of end regions(mm)', 'fatl_total surface area(mm^2)',
       'fatl_trunk volume(mm^3)', 'fatl_volume(mm^3)', 'fatr_ad',
       'fatr_area of end region 1(mm^2)', 'fatr_area of end region 2(mm^2)',
       'fatr_branch volume(mm^3)', 'fatr_curl', 'fatr_diameter(mm)',
       'fatr_dti_fa', 'fatr_elongation', 'fatr_irregularity',
       'fatr_irregularity of end region 1',
       'fatr_irregularity of end region 2', 'fatr_iso', 'fatr_md',
       'fatr_mean length(mm)', 'fatr_nrdi02L', 'fatr_nrdi04L', 'fatr_nrdi06L',
       'fatr_number of tracts', 'fatr_qa', 'fatr_radius of end region 1(mm)',
       'fatr_radius of end region 2(mm)', 'fatr_rd', 'fatr_rdi',
       'fatr_span(mm)', 'fatr_total area of end regions(mm^2)',
       'fatr_total radius of end regions(mm)', 'fatr_total surface area(mm^2)',
       'fatr_trunk volume(mm^3)', 'fatr_volume(mm^3)'],
      dtype='object', name='Ncodigo')

In [33]:
# renombramos las columnas de df para que no tengan espacios en blanco y se puedan utilizar en python
df.rename(columns={'fatr_area of end region 1(mm^2)' : 'fatr_area_of_end_region_1', 
                    'fatr_area of end region 2(mm^2)': 'fatr_area_of_end_region_2',
                    'fatr_branch volume(mm^3)' : 'fatr_branch_volume',
                    'fatr_fatr_curl' : 'fatr_curl',
                    'fatr_diameter(mm)' : 'fatr_diameter',
                    'fatr_dti_fa': 'fatr_dti_fa',
                    'fatr_elongation' : 'fatr_elongation',
                    'fatr_irregularity' : 'fatr_irregularity',
                    'fatr_irregularity of end region 1' : 'fatr_irregularity_of_end_region_1',
                    'fatr_irregularity of end region 2' : 'fatr_irregularity_of_end_region_2',
                    'fatr_iso' : 'fatr_iso',
                    'fatr_md' : 'fatr_md',
                    'fatr_mean length(mm)'  : 'fatr_mean_length',
                    'fatr_nrdi02L' : 'fatr_nrdi02L',
                    'fatr_nrdi04L' : 'fatr_nrdi04L',
                    'fatr_nrdi06L' : 'fatr_nrdi06L',
                    'fatr_number of tracts' : 'fatr_number_of_tracts',
                    'fatr_qa' : 'fatr_qa',
                    'fatr_radius of end region 1(mm)' : 'fatr_radius_of_end_region_1',
                    'fatr_radius of end region 2(mm)' : 'fatr_radius_of_end_region_2',
                    'fatr_rd' : 'fatr_rd',
                    'fatr_rdi' : 'fatr_rdi',
                    'fatr_span(mm)' : 'fatr_span',
                    'fatr_total area of end regions(mm^2)' : 'fatr_total_area_of_end_regions',
                    'fatr_total radius of end regions(mm)' : 'fatr_total_radius_of_end_regions', 
                    'fatr_total surface area(mm^2)' : 'fatr_total_surface_area',
                    'fatr_trunk volume(mm^3)' : 'fatr_trunk_volume',
                    'fatr_volume(mm^3)' : 'fatr_volume', 
                    'fatr_households': 'fatr_households',
                    'fatr_houses': 'fatr_houses',
                    'fatl_area of end region 1(mm^2)' : 'fatl_area_of_end_region_1', 
                    'fatl_area of end region 2(mm^2)': 'fatl_area_of_end_region_2',
                    'fatl_branch volume(mm^3)' : 'fatl_branch_volume',
                    'fatl_curl' : 'fatl_curl',
                    'fatl_diameter(mm)' : 'fatl_diameter',
                    'fatl_dti_fa': 'fatl_dti_fa',
                    'fatl_elongation' : 'fatl_elongation',
                    'fatl_irregularity' : 'fatl_irregularity',
                    'fatl_irregularity of end region 1' : 'fatl_irregularity_of_end_region_1',
                    'fatl_irregularity of end region 2' : 'fatl_irregularity_of_end_region_2',
                    'fatl_iso' : 'fatl_iso',
                    'fatl_md' : 'fatl_md',
                    'fatl_mean length(mm)'  : 'fatl_mean_length',
                    'fatl_nrdi02L' : 'fatl_nrdi02L',
                    'fatl_nrdi04L' : 'fatl_nrdi04L',
                    'fatl_nrdi06L' : 'fatl_nrdi06L',
                    'fatl_number of tracts' : 'fatl_number_of_tracts',
                    'fatl_qa' : 'fatl_qa',
                    'fatl_radius of end region 1(mm)' : 'fatl_radius_of_end_region_1',
                    'fatl_radius of end region 2(mm)' : 'fatl_radius_of_end_region_2',
                    'fatl_rd' : 'fatl_rd',
                    'fatl_rdi' : 'fatl_rdi',
                    'fatl_span(mm)' : 'fatl_span',
                    'fatl_total area of end regions(mm^2)' : 'fatl_total_area_of_end_regions',
                    'fatl_total radius of end regions(mm)' : 'fatl_total_radius_of_end_regions', 
                    'fatl_total surface area(mm^2)' : 'fatl_total_surface_area',
                    'fatl_trunk volume(mm^3)' : 'fatl_trunk_volume',
                    'fatl_volume(mm^3)' : 'fatl_volume', 
                    'fatl_households': 'fatl_households',
                    'fatl_houses': 'fatl_houses'}, inplace=True)

In [34]:
# verificacion df
df.head()

Ncodigo,cod,fatl_ad,fatl_area_of_end_region_1,fatl_area_of_end_region_2,fatl_branch_volume,fatl_curl,fatl_diameter,fatl_dti_fa,fatl_elongation,fatl_irregularity,...,fatr_radius_of_end_region_1,fatr_radius_of_end_region_2,fatr_rd,fatr_rdi,fatr_span,fatr_total_area_of_end_regions,fatr_total_radius_of_end_regions,fatr_total_surface_area,fatr_trunk_volume,fatr_volume
0,sub-50004,1.21144,1414.07,1181.01,1361.19,2.85689,15.8197,0.442894,5.35227,6.65416,...,11.3466,8.47087,0.646256,0.148332,29.882,3548.89,19.8175,36500.5,20980,21910.3
1,sub-50005,1.03797,419.13,612.047,1135.96,5.22537,10.6189,0.358137,8.71565,5.14231,...,16.4181,11.3102,0.678749,0.38767,19.515,1771.51,27.7284,33267,9609.63,18477.9
2,sub-50006,1.17344,1302.44,1309.29,8021.24,2.52293,17.7757,0.414455,4.61515,8.07839,...,11.7158,8.82405,0.624298,0.419171,31.1895,2863.4,20.5399,32016.4,17351.8,18546.5
3,sub-50007,1.13453,2094.67,523.912,3571.42,2.7777,16.1605,0.432708,4.82994,7.73849,...,12.6132,7.80405,0.610717,0.147398,28.4403,2174.97,20.4172,29801.3,6769.73,15710.5
4,sub-50008,1.22767,2060.39,2300.32,146.891,2.48288,19.0712,0.432456,4.26776,7.66658,...,8.62735,7.11894,0.638292,0.216331,31.7265,3800.57,15.7463,28873.9,19211.4,19821.5

In [35]:
# verificacion de las columnas de df
df.shape

(23, 59)

In [36]:
df.to_csv('../data/dataset_final.csv', index=False)